<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Follower</h1>
      <% if @users.count == 0 %>
        <p>ユーザーはいません</p>
      <% else %>
        <table class="table">
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
            </td>
            <td><%= user.name %></td>
            <td>フォロー数：<%= user.follower.count %></td>
            <td>フォロワー数：<%= user.followed.count %></td>
            <td>
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
                <% else %>
                  <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
                <% end %>
              <% end %>
            </td>
            <td><%= link_to 'Show', user %></td>
          </tr>
        <% end %>
      <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>