<p id="notice">
  <%=  notice %>
</p>
<div class="container x-5 px-sm-0">
  <div id="alert">
    <%= render 'users/alert', model: @newbook %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="plofile-box">
        <%= render 'users/info', user: @user  %>
      </div>
      <div class="new-box">
        <%= render 'books/newbook', newbook: @newbook %>
      </div>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
              <br>
              <%= link_to @book.user.name, user_path(@book.user_id) %>
            </td>
            <td><%= link_to @book.title, book_path %></td>
            <td><%= @book.body %></td>
            <% if @book.user_id == current_user.id %>
              <td>
                <button type="button" class="btn btn-success">
                  <%= link_to 'Edit', edit_book_path,:style=>"color:white;" %>
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-danger">
                  <%= link_to 'Destroy', book_path, method: :delete,:style=>"color:white;", "data-confirm" => "本当に消しますか？" %>
                </button>
              </td>
            <% end %>
            <td>コメント数:<%= @book.book_comments.count %></td>
          </tr>
        </tbody>
      </table>
      <div class="comments">
      <% @book.book_comments.each do |book_comment| %>
        <p>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
          <%= book_comment.comment %>
          <% if book_comment.user_id == current_user.id %>
            <button type="button" class="btn btn-danger">
              <%= link_to 'Destroy', book_book_comment_path(book_comment.book, book_comment), method: :delete,:style=>"color:white;", "data-confirm" => "本当に消しますか？" %>
            </button>
          <% end %>
          <br>
          <%= book_comment.user.name %>
        </p>
      <% end %>
      </div>
      <div class="new-comment">
        <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5', size:"60",placeholder: "コメントをここに" %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
